In [23]:
import pandas as pd
from sklearn import linear_model

In [24]:
df = pd.read_csv('C:/Users/hp/Desktop/data analytics/house_dummy.csv')

In [25]:
dummies = pd.get_dummies(df.town)

In [26]:
#creating numeral for the categorical vareiable
# binary numeral
dummies

    monroe township  robbinsville  west windsor
0                 1             0             0
1                 1             0             0
2                 1             0             0
3                 1             0             0
4                 1             0             0
5                 0             0             1
6                 0             0             1
7                 0             0             1
8                 0             0             1
9                 0             1             0
10                0             1             0
11                0             1             0
12                0             1             0

In [27]:
#concatenate thus dummies with the orignal table
merged = pd.concat([df,dummies],axis = 'columns') # along whuch axis

In [28]:
merged

               town  area   price  monroe township  robbinsville  west windsor
0   monroe township  2600  550000                1             0             0
1   monroe township  3000  565000                1             0             0
2   monroe township  3200  610000                1             0             0
3   monroe township  3600  680000                1             0             0
4   monroe township  4000  725000                1             0             0
5      west windsor  2600  585000                0             0             1
6      west windsor  2800  615000                0             0             1
7      west windsor  3300  650000                0             0             1
8      west windsor  3600  710000                0             0             1
9      robbinsville  2600  575000                0             1             0
10     robbinsville  2900  600000                0             1             0
11     robbinsville  3100  620000                0             1             0
12     robbinsville  3600  695000                0             1             0

In [29]:
# drop  the columns
final = merged.drop(['town','west windsor'],axis = 'columns')

In [30]:
final

    area   price  monroe township  robbinsville
0   2600  550000                1             0
1   3000  565000                1             0
2   3200  610000                1             0
3   3600  680000                1             0
4   4000  725000                1             0
5   2600  585000                0             0
6   2800  615000                0             0
7   3300  650000                0             0
8   3600  710000                0             0
9   2600  575000                0             1
10  2900  600000                0             1
11  3100  620000                0             1
12  3600  695000                0             1

In [31]:
model = linear_model.LinearRegression()

ONE WAY TO CREATE MODEL

In [32]:
model.fit(final[['area','monroe township','robbinsville']],final.price)

LinearRegression()

In [33]:
model.coef_

array([   126.89744141, -40013.97548914, -14327.56396474])

In [34]:
model.intercept_

249790.36766292533

In [35]:
model.predict([[2800,0,1]])

array([590775.63964739])

In [36]:
model.predict([[3400,0,0]])

array([681241.66845839])

2ND WAY TO CREATE A MODEL

In [37]:
y = final.price

In [38]:
x = final.drop('price',axis = 'columns')

In [39]:
model_2 = linear_model.LinearRegression()

In [40]:
model_2.fit(x,y)

LinearRegression()

In [41]:
model_2.predict([[2800,0,1]])

array([590775.63964739])

WANT TO CHECK ACCURACY

In [42]:
model.score(x,y)

0.9573929037221873

ONE HOT ENCODING

TECHNIQUE

In [43]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [44]:
le = LabelEncoder()  #create class obj of label encoder

In [45]:
dfle = df

In [46]:
dfle.town = le.fit_transform(dfle.town)   # labelling of categorical column

In [47]:
dfle

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [48]:
x = dfle.drop('price',axis = 'columns').values

In [49]:
x

array([[   0, 2600],
       [   0, 3000],
       [   0, 3200],
       [   0, 3600],
       [   0, 4000],
       [   2, 2600],
       [   2, 2800],
       [   2, 3300],
       [   2, 3600],
       [   1, 2600],
       [   1, 2900],
       [   1, 3100],
       [   1, 3600]], dtype=int64)

In [50]:
y = dfle.price

In [51]:
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [56]:
ohe = OneHotEncoder(handle_unknown='ignore')  # inside class index no of categorical var

In [57]:
x = ohe.fit_transform(x).toarray()

In [58]:
x

array([[1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.]])