In [2]:
import sys
!{sys.executable} -m pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py): started
  Building wheel for word2number (setup.py): finished with status 'done'
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5591 sha256=19ec8cd099e633ebfdeb1a823d9714a7cf54eaba2af714ab5f109b4eb482b976
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\cb\f3\5a\d88198fdeb46781ddd7e7f2653061af83e7adb2a076d8886d6
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [8]:
from word2number import w2n 
import pandas as pd
from sklearn import linear_model
import math

In [5]:
df = pd.read_csv('C:/Users/hp/Desktop/data analytics/hiring.csv')

In [6]:
df.shape

(8, 4)

In [7]:
df

  experience  test_score(out_of_10)  interview_score(out_of_10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [23]:
med_test_score =math.floor(df[['test_score(out_of_10)']].median())

In [22]:
df.columns[1]

'test_score(out_of_10)'

In [24]:
med_test_score

8

In [29]:
df[['test_score(out_of_10)']] = df[['test_score(out_of_10)']].fillna(med_test_score)

In [41]:
df.experience = df.experience.fillna(0)

In [50]:
list_exp = []
for i in list(df.experience):
    if str(i).isdigit():
        list_exp.append(i)
    else:
        x = w2n.word_to_num(i)
        list_exp.append(x)
    
print(list_exp)

[0, 0, 5, 2, 7, 3, 10, 11]

In [48]:
df.experience

0         0
1         0
2      five
3       two
4     seven
5     three
6       ten
7    eleven
Name: experience, dtype: object

In [54]:
list_exp[0]

0

In [51]:
reg = linear_model.LinearRegression()

In [52]:
df.experience = list_exp

In [53]:
df.experience

0     0
1     0
2     5
3     2
4     7
5     3
6    10
7    11
Name: experience, dtype: int64

In [59]:
reg.fit(df[['experience','test_score(out_of_10)','interview_score(out_of_10)']],df['salary($)'])

LinearRegression()

In [67]:
df[['salary($)']]

   salary($)
0      50000
1      45000
2      60000
3      65000
4      70000
5      62000
6      72000
7      80000

In [68]:
# accessing way
df['salary($)']

0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary($), dtype: int64

In [60]:
reg.coef_

array([2812.95487627, 1845.70596798, 2205.24017467])

In [62]:
reg.intercept_

17737.26346433771

In [65]:
reg.predict([[2,9,6]])

array([53205.96797671])

In [66]:
reg.predict([[12,10,10]])

array([92002.18340611])