In [34]:
import pandas as pd
from sklearn.datasets import load_digits,load_iris

In [2]:
d = load_digits()

In [3]:
dir(d)

['DESCR', 'data', 'feature_names', 'frame', 'images', 'target', 'target_names']

In [4]:
#CREATING DF

In [5]:
df = pd.DataFrame(d.data)

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [ ]:
#ADDING COL TO THE DF

In [7]:
df['target'] = d.target

In [8]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4

In [9]:
#TRAIN TEST SPLIT

In [10]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test , y_train,y_test = train_test_split(df.drop('target',axis = 1),d.target,test_size = 0.2)

In [13]:
#APPLYING RANDOM FOREST ALGO

In [15]:
from sklearn.ensemble import RandomForestClassifier #ENSEMBLE- WHEN WE USE MULTIPLE ALGO TOGETHER

In [16]:
rfc = RandomForestClassifier()      #DEFAULT DECISION TREES = 100

In [ ]:
#TRAIN RHE RFC

In [23]:
rfc.fit(x_train,y_train)

RandomForestClassifier()

In [ ]:
#CHECK THE ACCURACY

In [24]:
rfc.score(x_test,y_test)

0.9694444444444444

In [ ]:
#MODIFY DTS

In [25]:
rfc1 = RandomForestClassifier( n_estimators = 200)

In [26]:
rfc.fit(x_train,y_train)

RandomForestClassifier()

In [27]:
rfc.score(x_test,y_test)

0.9722222222222222

In [28]:
#LETS MAKE CONFUSION MATRIX TO EVALUATE MORE CLOSELY

In [29]:
from sklearn.metrics import confusion_matrix

In [30]:
cm = confusion_matrix(y_test,rfc.predict(x_test))

In [31]:
cm

array([[37,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0, 32,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  1, 39,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0, 32,  0,  0,  0,  1,  0,  0],
       [ 0,  0,  0,  0, 33,  0,  0,  1,  0,  0],
       [ 0,  0,  0,  1,  1, 31,  0,  0,  1,  1],
       [ 0,  0,  0,  0,  0,  0, 32,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0, 44,  0,  0],
       [ 0,  0,  1,  0,  0,  0,  0,  0, 31,  1],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  1, 39]], dtype=int64)

EXERCISE QUESTION ON LOAD_IRIS

In [35]:
d1 = load_iris()

In [37]:
dir(d1)

['DESCR',
 'data',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [38]:
#STEP 1

In [40]:
df1 = pd.DataFrame(d1.data)

In [41]:
#STEP 2

In [42]:
df1['target'] = d1.target

In [43]:
#STEP 3

In [44]:
x_train1 , x_test1 , y_train1,y_test1 = train_test_split(df1.drop('target',axis = 1),d1.target,test_size = 0.2)

In [46]:
#STEP 4

In [47]:
rdc1 = RandomForestClassifier()

In [48]:
#STEP 5

In [49]:
rfc1.fit(x_train1,y_train1)

RandomForestClassifier(n_estimators=200)

In [52]:
#STEP 6

In [53]:
rfc1.score(x_test1,y_test1)

0.9666666666666667

In [57]:
#STEP 7

In [58]:
rdc1 = RandomForestClassifier(n_estimators=250)

In [59]:
rfc1.fit(x_train1,y_train1)

RandomForestClassifier(n_estimators=200)

In [60]:
rfc1.score(x_test1,y_test1)

0.9666666666666667

In [61]:
#STEP 8

In [62]:
cm1 = confusion_matrix(y_test1,rfc1.predict(x_test1))

In [63]:
cm1

array([[13,  0,  0],
       [ 0,  8,  0],
       [ 0,  1,  8]], dtype=int64)